CWD=
EXPERIMENT_TYPE=
EXPERIMENT_TYPES=lighting_10, lighting_25, lighting_50, lighting_100, circular_movement, head_pose_middle, head_pose_left, head_pose_right, line_movement_slow, line_movement_fast

#For visualization
MODEL = 
MODELS = puregaze, l2cs, mcgaze_clip_size_3, mcgaze_clip_size_7

DATASET_BASE_DIR =/my_home/USTA/July-Experiments
CURRENTLY_ANALYZED_MODELS=puregaze_rectification,gazetr_rectification,l2cs_padding0fixed_isrgb_False_resize_448,mcgaze_clip_size_7,gaze3d_clip_len_8